@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:ital,wght@1,900&display=swap');


#sign{
    width: 300px;
    height: 450px;
    background-color:  #FFFFFF52;
    display: flex;
  position: absolute;
  top: 100px;
  right: 80px;
   cursor: pointer;
    flex-direction: column;
}

#cross{
    position: absolute;
    top: 0px;
    right: 15px;
}

.inp {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}

.inp h5{
    position: relative;
    right: 95px;
}

.inp input{
    height: 35px;
    width: 260px;
    background-color: #ffffff92;
    border: none;
}

h2{
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}

#con{
    margin-left: 50px;
}